.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  padding: 20px;
  background-color: #f4f4f4;
}

.nav-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 0.25fr -webkit-max-content -webkit-max-content -webkit-max-content;
  -ms-grid-columns: 0.25fr max-content max-content max-content;
  grid-template-columns: 0.25fr -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-columns: 0.25fr max-content max-content max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-logo-link {
  display: block;
  height: 60px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}

.nav-logo {
  width: auto;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.nav-link {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px 0px;
  color: #444;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-grid-2 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-areas: ". . . Area";
  -ms-grid-columns: 1fr 20px -webkit-max-content 20px -webkit-max-content 20px -webkit-max-content 20px 0.25fr 20px 1fr 20px 1fr;
  -ms-grid-columns: 1fr 20px max-content 20px max-content 20px max-content 20px 0.25fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content 0.25fr 1fr 1fr;
  grid-template-columns: 1fr max-content max-content max-content 0.25fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.navbar {
  overflow: visible;
  height: 90px;
  min-width: 100px;
  margin-top: -1px;
  margin-left: 0px;
  padding-right: 883px;
  padding-left: 0px;
  background-color: #f1f1f1;
  font-family: Varela, sans-serif;
  color: #414141;
  font-size: 16px;
  line-height: 45px;
  text-align: left;
  text-indent: 70px;
}

.body {
  overflow: auto;
  margin-right: auto;
  margin-left: 0px;
  text-indent: 40px;
  white-space: normal;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
  mix-blend-mode: normal;
}

.nav-menu {
  margin-right: -518px;
  padding-right: 0px;
}

.heading {
  margin-top: 348px;
  margin-bottom: 58px;
  padding-bottom: 0px;
  padding-left: 60px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  font-family: Varela, sans-serif;
  text-align: center;
}

.container {
  width: auto;
  margin-right: auto;
  margin-left: auto;
}

.heading-2 {
  position: static;
  height: 100px;
  margin-top: 70px;
  margin-bottom: 0px;
  margin-left: 60px;
  padding-bottom: 0px;
  font-family: Montserrat, sans-serif;
  line-height: 100px;
  font-weight: 600;
  text-align: center;
}

.text-block {
  position: relative;
  margin-top: 0px;
  padding-top: 90px;
  padding-bottom: 35px;
  padding-left: 250px;
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  line-height: 37px;
  text-align: left;
}

.quote {
  position: relative;
  margin-top: 0px;
  padding: 40px 450px;
  font-family: Montserrat, sans-serif;
  color: #7f8f39;
  font-size: 20px;
  line-height: 29px;
  font-style: italic;
  font-weight: 400;
  text-align: justify;
  white-space: pre-line;
}

.body-2 {
  font-family: Varela, sans-serif;
}

.image {
  padding-top: 40px;
  padding-right: 400px;
  padding-left: 400px;
}

.image-2 {
  padding-right: 400px;
  padding-left: 400px;
}

.grid {
  position: relative;
  height: 1600px;
  padding-right: 250px;
  padding-left: 250px;
  grid-template-areas: "Area";
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.image-3 {
  width: 100%;
  padding-top: 0px;
  padding-left: 0px;
}

.image-4 {
  width: 150%;
  padding-top: 32px;
  padding-right: 400px;
  padding-left: 400px;
}

.grid-2 {
  display: -ms-grid;
  display: grid;
  width: 80%;
  margin-right: 75px;
  margin-left: 0px;
  padding-top: 35px;
  padding-right: 400px;
  padding-left: 400px;
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  justify-items: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: "Area";
  -ms-grid-columns: 1fr 16px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto 16px auto 16px auto 16px auto;
  grid-template-rows: auto auto auto auto;
}

.grid-3 {
  padding-top: 35px;
  padding-right: 400px;
  padding-left: 400px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-column-gap: 65px;
  grid-row-gap: 30px;
  -ms-grid-columns: 1.5fr 1.5fr;
  grid-template-columns: 1.5fr 1.5fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.image-5 {
  width: 65%;
}

.image-6 {
  width: 65%;
  padding-top: 30px;
}

.image-7 {
  width: 65%;
  padding-top: 30px;
}

.image-8 {
  width: 65%;
}

.text-block-2 {
  padding-left: 0px;
  font-weight: 400;
  text-align: center;
}

.text-block-3 {
  padding-right: 0px;
  text-align: center;
}

.text-block-4 {
  padding-left: 0px;
  text-align: center;
}

.text-block-5 {
  padding-right: 0px;
  text-align: center;
}

.paragraph-2 {
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 300px;
  border-radius: 0px;
  background-color: transparent;
}

.paragraph-3 {
  padding-top: 20px;
  padding-right: 400px;
  padding-left: 400px;
  font-family: Varela, sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  text-align: justify;
}

.paragraph-summary {
  padding-top: 0px;
  padding-right: 250px;
  padding-left: 250px;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;
}

.paragraph-5 {
  padding-top: 30px;
  padding-right: 400px;
  padding-left: 400px;
  font-family: Varela, sans-serif;
  font-size: 20px;
  line-height: 25px;
}

.paragraph-6 {
  padding-top: 30px;
  padding-right: 400px;
  padding-left: 400px;
  font-family: Varela, sans-serif;
  font-size: 20px;
  line-height: 25px;
}

.grid-4 {
  padding-top: 30px;
  padding-right: 400px;
  padding-left: 400px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.nav-link-2 {
  padding-right: 30px;
  padding-left: 30px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

.nav-link-3 {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.nav-link-4 {
  font-family: Montserrat, sans-serif;
}

.nav-menu-2 {
  display: block;
  margin-top: 45px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
}

.navbar-2 {
  position: relative;
  height: 150px;
}

.container-2 {
  margin-left: 291.875px;
  padding-right: 0px;
}

.container-3 {
  position: relative;
  left: -115px;
  top: 0px;
  display: inline;
  padding-right: 0px;
  padding-left: 29px;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  font-family: Montserrat, sans-serif;
}

.navbar-3 {
  bottom: -38px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 0px;
  background-color: #fff;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.nav-link-5 {
  padding-right: 50px;
  padding-left: 50px;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
}

.nav-link-5.w--current {
  padding-right: 50px;
  padding-left: 50px;
}

.nav-link-6 {
  padding-right: 35px;
  padding-left: 35px;
  font-family: Montserrat, sans-serif;
}

.nav-link-7 {
  padding-right: 35px;
  padding-left: 35px;
  font-family: Montserrat, sans-serif;
}

.nav-link-8 {
  padding-right: 35px;
  padding-left: 35px;
  font-family: Montserrat, sans-serif;
}

.nav-link-9 {
  padding-right: 35px;
  padding-left: 35px;
  font-family: Montserrat, sans-serif;
}

.nav-link-10 {
  padding-right: 35px;
  padding-left: 35px;
  font-family: Montserrat, sans-serif;
}

.navbar-4 {
  padding-top: 81px;
  background-color: #fff;
}

.nav-menu-3 {
  display: block;
  overflow: visible;
  width: auto;
  margin-right: -655px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  -o-object-fit: fill;
  object-fit: fill;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.container-4 {
  width: 1919px;
  margin-right: auto;
  margin-left: 131px;
}

.image-9 {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 250px;
  padding-left: 250px;
}

.grid-5 {
  padding-right: 250px;
  padding-bottom: 45px;
  padding-left: 250px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  grid-auto-flow: row;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.image-10 {
  height: 500px;
}

.image-11 {
  height: 500px;
}

.image-12 {
  width: 500px;
  height: auto;
  max-width: 150%;
}

.image-13 {
  width: 1700px;
  max-width: 200%;
  margin-left: 104px;
  padding-right: 250px;
  padding-left: 252px;
}

.image-14 {
  margin-top: 44px;
  margin-left: 282px;
  padding-top: 0px;
  padding-left: 0px;
}

.image-15 {
  height: 452px;
  margin-left: -53px;
  padding-left: 0px;
}

.columns {
  margin-top: 46px;
}

.image-16 {
  display: inline-block;
  margin-left: -65px;
  padding-left: 0px;
}

.column {
  padding-left: 319px;
}

.column-2 {
  padding-left: 0px;
}

.grid-6 {
  margin-top: 50px;
  padding-top: 0px;
  padding-right: 250px;
  padding-left: 164px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.image-17 {
  width: 400px;
  margin-left: 0px;
  padding-left: 0px;
}

.image-18 {
  height: 200px;
}

.grid-7 {
  height: 400px;
  margin-top: 37px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 250px;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: start;
  justify-items: start;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-align-content: start;
  -ms-flex-line-pack: start;
  align-content: start;
  -ms-grid-columns: 1fr minmax(200px, 1fr);
  grid-template-columns: 1fr minmax(200px, 1fr);
  -ms-grid-rows: 400px;
  grid-template-rows: 400px;
  -o-object-fit: fill;
  object-fit: fill;
}

.image-19 {
  height: auto;
  margin-right: -131px;
  padding-right: 0px;
}

.image-20 {
  margin-left: -54px;
  padding-left: 0px;
}

.video {
  width: 1200px;
  height: 600px;
}

.container-5 {
  max-width: 1400px;
  padding-left: 0px;
}

.image-21 {
  display: inline-block;
}

.grid-8 {
  max-height: 800px;
  max-width: 1600px;
  margin-top: 50px;
  margin-left: 250px;
  padding-top: 0px;
  padding-right: 250px;
  -ms-grid-columns: 1fr 1fr 0.75fr 0.75fr;
  grid-template-columns: 1fr 1fr 0.75fr 0.75fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.image-22 {
  height: 370px;
}

.image-23 {
  height: 370px;
  margin-right: -57px;
  margin-left: 21px;
  padding-right: 0px;
  padding-left: 0px;
}

.image-24 {
  height: 370px;
  padding-right: 20px;
  padding-left: 0px;
}

.image-25 {
  height: 370px;
  max-width: 500%;
  margin-right: 33px;
  padding-right: 0px;
}

.div-block {
  padding-top: 244px;
}

@media screen and (min-width: 1920px) {
  .heading {
    margin-top: 171px;
    margin-bottom: 10px;
    padding-bottom: 0px;
    font-family: Montserrat, sans-serif;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .sticky-nav {
    position: relative;
  }

  .nav-grid {
    text-align: center;
  }

  .nav-grid-2 {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .sticky-nav {
    padding: 0px;
  }

  .nav-grid {
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
  }

  .nav-logo-link {
    border-top: 1px solid #c4c4c4;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #c4c4c4;
  }

  .nav-grid-2 {
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
  }

  .image-2 {
    padding-right: 400px;
  }

  .image-4 {
    padding-left: 400px;
  }
}

#w-node-f4fa701e-c3d1-9554-7f3e-3167a22b9e8f-559b0f0b {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  grid-area: Area;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: auto;
  align-self: auto;
}

.grid>#w-node-f4fa701e-c3d1-9554-7f3e-3167a22b9e8f-559b0f0b {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid-2>#w-node-f4fa701e-c3d1-9554-7f3e-3167a22b9e8f-559b0f0b {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

#w-node-f4fa701e-c3d1-9554-7f3e-3167a22b9e90-559b0f0b {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

#w-node-f4fa701e-c3d1-9554-7f3e-3167a22b9e94-559b0f0b {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-f4fa701e-c3d1-9554-7f3e-3167a22b9e95-559b0f0b {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-f4fa701e-c3d1-9554-7f3e-3167a22b9e98-559b0f0b {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-f4fa701e-c3d1-9554-7f3e-3167a22b9e9b-559b0f0b {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-f4fa701e-c3d1-9554-7f3e-3167a22b9e9c-559b0f0b {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_2e835e49-0527-2d8c-1b5a-008aff3bfdba-b7ae502c {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  grid-area: Area;
  -ms-grid-column-align: start;
  justify-self: start;
  -ms-grid-row-align: auto;
  align-self: auto;
}

.grid>#w-node-_2e835e49-0527-2d8c-1b5a-008aff3bfdba-b7ae502c {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid-2>#w-node-_2e835e49-0527-2d8c-1b5a-008aff3bfdba-b7ae502c {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

#w-node-_2e835e49-0527-2d8c-1b5a-008aff3bfdbb-b7ae502c {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

#w-node-_2e835e49-0527-2d8c-1b5a-008aff3bfdc3-b7ae502c {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_94cdb259-2a6a-e621-6fb1-ce262c219882-4c096063 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_4284dc53-ecd2-8a03-31f5-981b73e7415c-8347b849 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_79b105a2-54d0-7756-6a01-8a3b939bcd60-8347b849 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-ff6f4452-8c13-7d1f-14b9-995301ce985d-8347b849 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_352abee0-1ad2-0b46-b8f4-322163617903-8347b849 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-_47389d24-998d-381f-ec95-1f5d3e06b6d5-8347b849 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_558f88a4-3f74-c3a4-78c0-d2259fbe307f-8347b849 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_5231fe10-8946-1a99-28cf-3438ff58c963-8347b849 {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-fbd147da-2210-1af3-9bbb-0f35893dac6b-8347b849 {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-_7baa97c7-6e84-9d8b-863d-714782d5cb1b-8347b849 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-edb6734c-23a1-6c91-101f-f4108f131605-8347b849 {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-c8187a64-56bd-5341-9a0a-669024977180-8347b849 {
  -ms-grid-column-align: end;
  justify-self: end;
}